  <div id='account_bar'>
    <ul>
      <% unless current_user %>
      <li><%= link_to 'Log in', login_path %></li>
      <li><%= link_to 'Sign up', signup_path %></li>
      <% else %>
      <li><%= link_to 'My Account', account_path %></li>
      <li><%= link_to 'Log out', logout_path %></li>
      <% end %>
    </ul>
  </div>
