  <div id='account_bar'>
    <ul>
      <% unless current_user %>
      <li><%= link_to 'Login', login_path %></li>
      <li><%= link_to 'Signup', signup_path %></li>
      <% else %>
      <li><%= link_to 'My Account', account_path %></li>
      <li><%= link_to 'Logout', logout_path %></li>
      <% end %>
    </ul>
  </div>
